.resultado{
    color: #fff;
    padding: 10px;
    margin: 0 8px 0 8px;
    text-align: center;
}

.vazio{
    border: 1px solid #af6d0e;
    background-color: #fbaf3f;
}

.com_resultado{
    border: 1px solid #4a8802;
    background-color: #4ad450;
}

.item-content{
    width: 100%;
}

.item-content:hover{
    background-color: #efe3e2;
}

.item-content:active{
    background-color: #e0dbdb;
}

.detalhes{
    padding-top: 23px;
}

